@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
    --bg-color: #f6f8fa;
    --text-color: #1d1f27;
    --main-color: #3a3dbe;
  }
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);/* Light gray background */
  }
  
  header {
    background-color:yellow ;
    color: #020202;
    padding: 30px;
    text-align:left;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px; /* Add spacing below paragraph */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Make navigation items inline */
    justify-content: right; /* Center them horizontally */
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: #000000;
    text-decoration: center;
    transition: color 0.3s ease-in-out; /* Add link hover animation */
    margin: 20px;
  }
  
  nav a:hover {
    color: #007bff; /* Blue color on hover */
  
  }
  
  .hero-banner {
    background-color: #fff;
    text-align: center;
    padding: 50px;
    animation: fadeIn 2s ease-in-out; /* Fade in animation */
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .hero-banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .hero-banner h4 {
    margin-bottom: 20px;
  }
  
  
  .hero-banner a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .hero-banner a:hover {
    background-color: #0062cc; /* Darker blue on hover */
  }
  
  .about-us,
  .services,
  .appointments,
  .contact-us {
    background-color: #f0f0f0; /* Lighter gray background */
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .services ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .services li {
    margin-bottom: 10px;
  }
  
  .services li::before {
    content: "- ";
    color: #333;
    margin-right: 5px;
  }
  
  .appointments a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .appointments a:hover {
    background-color: #0062cc;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Yellow and green colors */
  .hero-banner h2 {
    color: #f9a825; /* Yellow */
  }
  
  .services li::before {
    color: #28a745; /* Green */
  }
  
  /* Buttons */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #0062cc
  }  